.gridContainerClass{
    display: grid;
    grid-template-columns: repeat(16, 50px, 1fr);
    grid-auto-rows: minmax(30px, auto);
    height: 200px;
    width: 200px;
}

#gridSquare1{
    background-color: blue;
}

.innerGrid{
    background-color: black;
    height: 10%;
    width: auto;
}
